@model IEnumerable<Hospital.DAL.DataContext.Entities.Doctor>

<div class="doctores_section margim_90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="doctores_taital">Our Doctors</h1>
            </div>
        </div>
        <div class="row">
            @foreach (var doctor in Model)
            {
                <div class="col-md-4">
                    <div class="doctores_box">
                        <div class="image_1">
                            <img src="@(string.IsNullOrEmpty(doctor.ImagePath)
                                                                          ? Url.Content("~/images/default-doctor.jpg")
                                                                          : Url.Content(doctor.ImagePath))" />
                    </div>
                    <h4 class="humour_text">@doctor.FullName <br></h4>
                    <p>@doctor.Department?.Name</p>  @* Departman adı *@
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
                        }
        </div>
    </div>
</div>